
.footer{

    color: #fff;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.container{
    max-width: 1140px;
    margin: 0px auto;
    
}

.footer-boxes{
    display: flex;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box a{
    text-decoration:  none;
    color: #808080;
    padding: .5rem 2rem;
    transition: all 450ms ;
}

.footer-box a:hover{
    color: #fff;
}

.button-box{
    padding: 2rem 2rem;
    padding-bottom: .5rem;
}

.button-box button{
    background-color: transparent;
    color: #808080;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: 2px;
    border: 2px solid #808080;
    transition: all 450ms ;
}

.button-box button:hover{
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.footer-name{
    color: #808080;
    padding: 0rem .5rem;
}

@media(max-width: 606px){
    .footer-boxes{
        flex-direction: column;
        gap: 2rem;
    }
}