/*Navbar Styles*/

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    transition: all 0.5s ease-in;
}


/* This will be apply once the user scrolls to give the navbar a black color */
.nav-black{
    background-color: #111;
}


/* //////////////////////////////////////////////////////////////////////// */


.nav-logo{
    width: 5rem;
    object-fit: contain;
    cursor: pointer;
}

.nav-user{
    width: 1.8rem;
    object-fit: contain;
    cursor: pointer;
}